/* Assign1 */
.P1 div{
    background-color: #FBFBFB;
    width: 300px;
    height: 60px;
    margin: 20px auto;
    text-align: center;
    align-content: initial;
    line-height: 60px;

}
div:empty {
    background-color: red;
}
/* Assign2 */
.P2 {
    background-color: rgba(187, 184, 184, 0.849);
    text-align: center;
    padding: 20px 25px;
    margin: 20px auto;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.P2::first-letter {
    background-color: red;
    color: white;
    padding: 15px 10px;
    margin-left: -59px;
    font-weight: bold;
    margin-right: 12px;
}
/*Assign3*/
/* Assign3 */
.three p {
    background-color: #eee;
    padding: 15px;
    width: 350px;
    margin: 20px auto;
    border-left: 5px solid rgb(228, 63, 91);
    position: relative;
}
.GI p::before {
    text-align: center;
    left: -90px;
    position: absolute;
    content: attr(data-person);
    background-color: #eee;
    width: 50px;
    padding: 10px;
    top: 5px;
}
.three p::after {
    margin-top: -10px;
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent rgb(228, 63, 91) transparent transparent;
    position: absolute;
    top: 50%;
    left: -25px;
}  
/* Assign4 */
.four p {
    background-color: #eee;
    width: 400px;
    height: 30px;
    padding: 10px;
    margin: 10px auto;
    counter-increment: div;
    position: relative;
    line-height: 2;
    border-right: solid 5px red;
} 
 .four p::before {
    left: -61px;
    top: 0; 
    content: counter(div);
    width: 41px;
    height: 30px;
    padding: 10px;
    text-align: center;
    background-color: red;
    color: white;
    position: absolute;
    line-height: 2;
    font-weight: bold;
    font-family: arial;
} 